.user-info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem; /* Espacio entre el texto del usuario y el botón salir */
}

/*Foto de perfil del usuario*/
.img-container {
  background-color: var(--color-deepblue);
  width: clamp(24px, 2.5vw, 30px);
  height: clamp(24px, 2.5vw, 30px);
  border-radius: 50%;
}

.user-info{
    display: flex;
    flex-direction: column;
    line-height: 1.4; /* Reduce el espacio vertical interno de cada texto */
    margin: 0;
    align-items: start;
}

.username{
    font-size: clamp(11px, 0.85vw, 13px);
    font-weight: 500;
    color: var(--color-deepblue);
}

.user-detail {
  color: var(--color-deep-gray);
  display: flex;
  align-items: center;
  gap: clamp(4px, 0.3vw, 6px);
  font-size: clamp(10px, 0.7vw, 11px);
}

/*punto rojo al lado de usertype/user-detail*/
.user-detail::before {
  content: "";
  width: clamp(4px, 0.4vw, 5px);
  height: clamp(4px, 0.4vw, 5px);
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: inline-block;
}